@model IEnumerable<CasoPractico1_JorgeMorua.Abstractions.UIModules.Rooms.RoomsDTO>

@{
    ViewBag.Title = "ReserveList";
}

<h2>Habitaciones disponibles</h2>
<div>
    <p>
        @Html.ActionLink("RESERVE NOW", "Create", "Reservations")
    </p>

    <div class="d-flex justify-content-end mb-3">
        
        @using (Html.BeginForm("Details", "Reservations", FormMethod.Get))
        {
            <div class="form-inline">
                <p>
                    <label for="id" class=" alert mr-2 alert-danger fw-bold">Tienes una reserva?</label>
                </p>
                <label for="id" class="mr-2">Buscar Reserva:</label>
                <input type="number" id="id" name="id"
                       class="form-control mr-2"
                       value="@(Request["id"])"
                       style="width: 150px;" />
                <button type="submit" class="btn btn-primary mr-2">Buscar</button>
                @Html.ActionLink("Limpiar", "ReserveList", "Reserve", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantHuespedes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantCamas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantBanos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cleaningLady)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cleaningFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantHuespedes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantCamas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantBanos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cleaningLady)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cleaningFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomFee)
            </td>
            <td>
                @{
                    string tipoHabitacion = "Desconocido";
                    if (item.roomType == 1)
                    {
                        tipoHabitacion = "Junior";
                    }
                    else if (item.roomType == 2)
                    {
                        tipoHabitacion = "Superior";
                    }
                    else if (item.roomType == 3)
                    {
                        tipoHabitacion = "Suite";
                    }
                    @tipoHabitacion
                }
            </td>
            <td>
                @Html.ActionLink("Reserve", "Reserve", new { id = item.id })
            </td>
        </tr>
    }

</table>
