@model CasoPractico1_JorgeMorua.Abstractions.UIModules.Reservations.ReservationsDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReservationsDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicioReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicioReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRoom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "ReservationsList")
</p>
